// Breakpoints
$breackpoints: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px, "xxl":1500px, "xxxl":1700px);


// Colors
$light-gray:  #F5F5F5;
$dark-gray:   #E6E6E5;
$violet-dark: #1D0828;
$primary:     #FF6A14;
$accent:      #DC3513;
