/** Chevrons **/
.chevron::before {
    font-size:1rem;
}

.chevron.right:before {
    content:"\203A";
}

.chevron.left:before {
    content:"\2039";
}

.double-chevron::before {
    font-size:1rem;
}

.double-chevron.right:before {
    content:"\00BB";
}

.double-chevron.left:before {
    content:"\00AB";
}